<h1>Listing Users</h1>
<table class="table">
  <%= for encounter <- @encounters do %>
    <tr>
      <td><%= encounter.inserted_at %></td>
      <td><b><%= encounter.name %></b></td>
      <td><%= link "View", to: encounter_path(@conn, :show, encounter.id) %></td>
    </tr>
  <% end %>
</table>
